body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: hsl(168, 93%, 5%);
    color: #fcfafa;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('background1.jpg') no-repeat center center/cover;
    text-align: center;
    padding: 150px 0;
    color: white;
}

.hero .container {
    width: 100%; /* Increased width of the container in hero section */
}

.hero h2 {
    margin: 0 0 10px;
}

.hero p {
    margin: 0 0 20px;
}

.hero .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover {
    background-color: #555;
}

.about {
    background: url('library1.jpg') no-repeat center center/cover; /* Background for About Us section */
    color: white; /* Adjust text color for better readability */
    padding: 50px 0;
    text-align: center;
}

.about h2, .about p {
    color: white; /* Ensure text is readable on the background image */
}

.books, .contact {
    padding: 50px 0;
    text-align: center;
}

.book-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-item {
    width: 23%;
    margin-bottom: 20px;
}

.book-item img {
    width: 100%;
    height: 400px; /* Set a fixed height for all book images */
    object-fit: cover; /* Ensure the image covers the entire area */
}
.contact {
    background: url('library1.jpg') no-repeat center center/cover; /* Background for Contact Us section */
    color: white; /* Adjust text color for better readability */
}
.contact form {
    display: grid;
    gap: 10px;
    justify-items: center;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact .btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


